{% extends "showcase/menu.html" %}

{% block show_content %}

<div style ="padding: auto; margin: auto; ">
    <div class="row">
        {% for item in item_list %}
            {% if item %}
                <div class="col-xs-4" style ="padding: auto; margin: auto; ">
                    <div id = "item">
                        <h5>{{ item.name }}</h5>
                        <img src="{{ item.image.url }}" height="50%" width="50%">
                        <h5>{{ item.price }} € </h5>
                        <a href="/showcase/{{item.id}}" class="btn btn-default" > Details </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock%}
