{% extends "home/header.html" %}

{% block main_content %}

<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #333; font-size: 0.9em; height: 110vh">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'showcase:brand_list' %}" style="color: white;">BRAND LIST</a></li>
            <li><a href="{% url 'showcase:index' %}?category=boots" style="color: white;">BOOTS</a></li>
            <li><a href="{% url 'showcase:index' %}?category=shoes" style="color: white;">SHOES</a></li>
        </ul>
    </div>

    <div class="container col-xs-10 col-sm-10 col-md-10 col-lg-10">
        {% block show_content %}
        {% endblock %}
    </div>
</div>

{% endblock %}
