{% extends "home/header.html" %}

{% block main_content %}

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="background-color: #333; font-family: 'Raleway';font-size: 22px; height: 100%">
    <ul class="nav nav-pills nav-stacked">
        <h3 style="color: white"><li><a href="{% url 'showcase:brand_list' %}">BRAND LIST</a></li></h3>
        <h3 style="color: white"><li><a href="{% url 'showcase:index' %}?category=boots">BOOTS</a></li></h3>
        <h3 style="color: white"><li><a href="{% url 'showcase:index' %}?category=shoes">SHOES</a></li></h3>
    </ul>
</div>

<div class="container col-xs-9 col-sm-9 col-md-9 col-lg-9">
    {% block show_content %}
    {% endblock %}
</div>



{% endblock %}
